.submit-btn-gl{
    color: #FFFFFF;
    background-color:#4285F4;
    border: 2px solid #FFFFFF;
    max-width: 80%;
    height: 60px;
    margin: 20px 5px 20px 5px;
    padding: 5px 5px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    transition: 250ms;
}

.submit-btn-gl:hover{
    background-color:rgb(102, 156, 242);
}

.submit-btn-fb{
    color: #FFFFFF;
    background-color: rgb(76, 105, 186);
    border: 2px solid #FFFFFF;
    max-width: 80%;
    height: 60px;
    margin: 20px 5px 20px 5px;
    padding: 5px 5px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    transition: 250ms;
}

.submit-btn-fb:hover{
    background-color:rgb(105, 130, 200);
}

